@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#winner {
	display: none;
}

body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: rgba(51, 51, 51, 0.8);
}
.inner-container .header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
	text-align: center;
	width: 100%;
	background: #333333;
}
.inner-container .header span {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
}

.inner-container .header button:first-child {
	background: #f44242;
}

.inner-container .header button:last-child {
	background: #329604;
}

.inner-container .header button:first-child:hover {
	background: #d53737;
}

.inner-container .header button:last-child:hover {
	background: #266e04;
}


.meta-info-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	position: fixed;
	top: 0;
	box-shadow: 0 4px 2px -2px gray;
}

.meta-info-header span {
	width: 100%;
	color: #000;
	text-align: center;
}

#winText {
	animation: winText 1s ease-in;
	font-size: 16px;
	color: blue;
	font-weight: bolder;
}


canvas {
	margin-top: 5em;
}

a {
	text-decoration: none;
	color: black;
}

#leaveGameTag:hover {
	color: lightsalmon;
	cursor: pointer;
}

button:focus {
	outline: none;
}


@keyframes winText {
	from{color: red; font-size: 12px;}
	to{color: blue; font-size: 16px;}
}

@media(max-width: 780px) {
	canvas {
		width: 300px !important;
		height: 300px !important;
	}


	.container, .inner-container {
		height: 100%;
		width: 100%;
		justify-content: flex-start;
	}

	input {
		border: 0.1px solid black;
	}
	
}