@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#winner {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: lightgray;
	font-family: 'Open Sans', sans-serif;
	background: url("../images/background.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: rgba(255, 255, 255, 0.8);
}
.inner-container .header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.inner-container .header button {
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
	border: none;
	color: #fff;
	cursor: pointer;
}

.inner-container .header button:first-child {
	background: #f44242;
}

.inner-container .header button:last-child {
	background: #329604;
}

.inner-container .header button:first-child:hover {
	background: #d53737;
}

.inner-container .header button:last-child:hover {
	background: #266e04;
}


.meta-info-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	position: fixed;
	top: 0;
	box-shadow: 0 4px 2px -2px gray;
}

.meta-info-header span {
	width: 100%;
	color: #000;
	text-align: center;
}

#winText {
	animation: winText 1s ease-in;
	font-size: 16px;
	color: blue;
	font-weight: bolder;
}


canvas {
	margin-top: 5em;
}


.join-game, .new-game {
	animation: onLoad 1s ease-in;
}

a {
	text-decoration: none;
	color: black;
}

#leaveGameTag:hover {
	color: lightsalmon;
	cursor: pointer;
}


.inner-container .header button {
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
	background: #2196F3;
  }
  
  /* Ripple magic */
  .inner-container .header button{
	position: relative;
	overflow: hidden;
  }
  
  .inner-container .header button:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
	transform-origin: 50% 50%;
  }
  
  @keyframes ripple {
	0% {
	  transform: scale(0, 0);
	  opacity: 1;
	}
	20% {
	  transform: scale(25, 25);
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  transform: scale(40, 40);
	}
  }
  
  button:focus:not(:active)::after {
	animation: ripple 1s ease-out;
  }

  button:focus {
	outline: none;
  }
  
@keyframes onLoad {
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes winText {
	from{color: red; font-size: 12px;}
	to{color: blue; font-size: 16px;}
}

@media(max-width: 780px) {
	canvas {
		width: 300px !important;
		height: 300px !important;
	}


	.container, .inner-container {
		height: 100%;
		width: 100%;
		justify-content: flex-start;
	}

	input {
		border: 0.1px solid black;
	}
	
}